<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation Page</title>
</head>
<body>
    <div style="max-width: 500px; margin: 15% auto; text-align: center">
        <h1>Welcome!</h1>
        <p>We're excited to have you get started. First, you need to confirm your account. Just press the buttom below.</p>
        <a href="http://localhost:8000/"><button style="width: 100%; height: 45px; color: #fff; margin-top: 30px; background: #6900FF; border-radius: 26px;">VERIFY</button></a>
    </div>
</body>
</html>