<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Page</title>
    <style>
        *{
            font-family: 'Roboto', sans-serif;
        }
        .input-form {
            display: flex;
            justify-items: flex-start;
            margin: 20px 0 35px;
        }
        .input-form__label {
            font-size: 20px;
            line-height: 19px;
        }
        .input-form__field {
            width: 350px;
            height: 30px;
            padding: 10px 20px;
            outline: none;
            border: 2px solid #777;
        }
        #post-btn:disabled {
            background: #c4c4c4 !important;
        }
    </style>
</head>
<body>
    <div style="max-width: 400px; margin: 10% auto;">
        <h1 style="margin-bottom: 10px">Reset your password</h1>
        <span style="font-size: 13px; ">Password should contain at least one numeric digit, and lowercase letter. Minimum length is 8</span>
        <div class="input-form">
            <label for="new-password" class="input-form__label">New password</p>
            <input id="pass" name="new-password" type="password" placeholder="Enter new password" class="input-form__field"/>
        </div>
        <div>
            <label for="new-password" class="input-form__label">Confirmation</p>
            <input id="confirm" name="new-password" type="password" placeholder="Confirm new password" class="input-form__field"/>
        </div>
        <div id="message" ></div>
        <button id="post-btn" style="width: 100%; height: 45px; color: #fff; margin-top: 30px; background: #6900FF; border-radius: 26px;" >UPDATE PASSWORD</button>
    </div>
    <script>
        let input1 = document.getElementById("pass");
        let input2 = document.getElementById("confirm");
        let message = document.getElementById("message");
        let button = document.getElementById('post-btn');
        button.disabled = "disabled";
        let isDisable = true;

        function passwordValidation(password) {
            let passwordFormat = /^(?=.*\d)(?=.*[a-z])[0-9a-zA-Z]{8,}$/;
            if(password.match(passwordFormat)) {
                return true;
            } 
            return false;
        }
        
        input1.addEventListener("keyup", () => {
            let isValid = passwordValidation(input1.value);
            if(!isValid) {
                input1.style.border = "2px solid red";
            } else {
                input1.style.border = "2px solid green";
            }
        })

        input2.addEventListener("keyup", () => {
            input1.style.border = "2px solid #777";
            if(input2.value == input1.value) {
                input2.style.border = "2px solid green"
                button.disabled = false;
            } else {
                input2.style.border = "2px solid red";
            }
        })
            
        button.addEventListener('click', async _ => {
            if (input1.value == input2.value) {
                try {
                    const response = await fetch('http://127.0.0.1:8000/reset-password-confirm/', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            uid: "{{uid}}",
                            token: "{{token}}",
                            new_password: value1,
                            re_new_password: value1
                        })
                    });
                    message.innerHTML = "Your password has been changed successfully.";
                    message.style.color = "green";
                    {% comment %} window.location.href = "http://localhost:8080/login/"; {% endcomment %}
                } catch(err) {
                    this.message.error = document.getElementById("message").style.marginTop = err;
                }
            } else {
                input1.style.border = "2px solid red";
                input2.style.border = "2px solid red";
                message.innerHTML = "The passwords do not match";
                message.style.color = "red";
            }
        });
    </script>
</body>
</html>